altgraph==0.17
auto-py-to-exe==2.6.6
beautifulsoup4==4.9.0
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
configparser==5.0.0
Eel==0.11.0
future==0.18.2
gevent==20.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.9
Opy==1.1.28
pefile==2019.4.18
psutil==5.7.0
py-cpuinfo==5.0.0
pycparser==2.20
PyInstaller==3.6
requests==2.23.0
six==1.14.0
soupsieve==2.0
spark-parser==1.8.9
uncompyle6==3.6.5
unpy2exe==0.4
urllib3==1.25.8
uuid==1.30
vk-api==11.8.0
wget==3.2
whichcraft==0.6.1
xdis==4.2.4
